{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}un_{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{% static 'js/app.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="grid grid-rows-container min-h-screen w-screen">
      {% include "partials/_header.html" %}
      {% block content %}{% endblock %}
      <div>
        <div class="mt-2 p-5 sm:mt-0 border border-t-orange-500 border-t-2 text-orange-600 text-sm text-center">
          &copy; {% now "Y" %} Unblank. All rights reserved.
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script type="text/javascript">
      hotkeys('ctrl+k, command+k', function() {
        document.getElementById("search").focus();
        return false;
      });
    </script>
    {% include "partials/links/_add-modal.html" %}
    {% include "partials/links/_edit-modal.html" %}
    {% include "partials/settings/_menu.html" %}
  </body>
</html>
