@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  min-height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
  min-height: 100vh;
  width: 100vw;
}

select.appearance-none {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-size: 0.7rem;
  background-position: right 0.7rem center;
}

[x-cloak] { display: none !important; }

.offcanvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  visibility: hidden;
}
.offcanvas-wrapper.active {
  visibility: visible;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.offcanvas-panel {
  position: fixed;
  min-height: 100%;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 320px;
  overflow-y: auto;
  transition: all .3s ease-in-out;
}

.offcanvas-panel-right {
  right: 0;
  transform: translateX(110%);
}

.offcanvas-panel-left {
  left: 0;
  transform: translateX(-110%);
}
.offcanvas-panel.active {
  transform: translateX(0);
}
